huggingface-hub==0.34.1
transformers
open_clip_torch
torch
numpy
pandas
pyarrow
matplotlib
cartopy
rasterio
albumentations
plotly
plotly-geo
pillow>=11.0
lightning
torchgeo
modelscope
gradio==5.49.1
einops
timm
python-box
scikit-image
scikit-learn
vit-pytorch
olmoearth-pretrain-minimal
torchvision
sentencepiece
qwen-vl-utils