huggingface-hub==0.34.1
transformers
open_clip_torch
gradio
torch
numpy
pandas
pyarrow
matplotlib
cartopy
rasterio
albumentations
plotly
plotly-geo
pillow
lightning
torchgeo
modelscope
gradio==5.49.1
olmoearth-pretrain-minimal