numpy>=1.23.4,<2.0.0
pydantic>=2.10,<2.12
huggingface-hub==0.34.1
transformers
open_clip_torch
gradio
torch
numpy
pandas
pyarrow
matplotlib
cartopy
rasterio
albumentations
plotly
plotly-geo
pillow
lightning
torchgeo
modelscope
gradio==5.49.1
einops
timm
python-box
scikit-image
scikit-learn
vit-pytorch
olmoearth-pretrain-minimal